/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}
.container-signup-form{
    text-align: center;
}

h1 {
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Index Page Styles */
.index-page {
    text-align: center;
}

.index-page a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

.index-page a:hover {
    background-color: #0056b3;
}

/* Signup Page Styles */
.signup-form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form label {
    display: block;
    margin: 10px 10px;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 5px -10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #0056b3;
}

/* Success Message Styles */
.success-message {
    color: #28a745;
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
}
